@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
}

.barr_fija{
	display: flex;
	background: #191919;
	width: 100%;
	padding: 0 20px;
	position: fixed;
}	

.barra_li{
	display: flex;
	font-size: 15px;
	margin: 0;
	padding: 10;
	cursor: pointer;
}

nav li{
	display: inline-block;
	font-family: 'Ubuntu';
}

nav a{
	display: flex;
	padding: 10px;
	color:white;
	text-decoration: none;
}

nav a:hover{
	font-weight:bold;
	color: black;
	background: #ffffff;
}

.contenedor{
	display: flex;
	padding: 5% 10% 0;
	width: 100%;
}


.usuario{
	width: 50%;
	padding: 10% 10px;
}
.usuario .usu-box{
	border: medium double;
	border-radius: 0px 10px;
}

.datos{
	width: 100%;
	padding: 10% 20px;
}
.datos .dat-box{
	border: medium double;
}
.contenedor h2,h4{
	font-family: 'ubuntu';
	color: gray;
}
.contenedor h4{
	margin-top: 20px;
}
.contenedor ul{
	list-style:none;
}
.contenedor p{
	padding: 10px;
}
.contenedor .tipo-usu{
	border: solid 0.5px gray;
	border-radius: 50px 50px;
	padding: 1%;
	
}
.datos li{
	display: inline-block;
	margin-right: 10%;
	color: gray;
}
