body{
	width: 100%;
	margin: 0;
	padding:0;
}
.contenedor{
	display: flex;
	width: 100%;
	background: transparent;
	opacity: 0.7;
	justify-content:center;
	transform: translate(0%,35%);
}

.login-form{
	display: flex;
	width: 350px;
	height: 400px;
	background: #2BAFBB;
	border-radius: 80px 0px;
	align-items: center;
}
.login-form .logo-usu{
	width: 180px;
	position: absolute;
	transform: translate(50%, -110%);
}

.login-form h1{
	padding: 0 0 25px;
	transform: translate(190%, -200%);
	font: bold 200% monospace;
	
}

.login-form label{
	display: flex;
	font: bold 120% monospace;
	padding: 0px;

}

.login-form form input{
	margin: 5px;
	background: #CEF9F6;
}

.login-form form .ent-bot{
	display: flex;
	transform: translate(60px, 50px);
	padding: 10px;
	border-radius: 20px 0px;
	border: solid 1px;
}

.login-form input[type="text"], input[type="password"]{
	border: none;
}

