@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
	margin: 0;
	padding: 0px;
	
}
header{
	width: 100%;
	margin: 0;
	padding: 0;
}
.barr_fija{
	display: flex;
	background: #191919;
	padding: 0 20px;
}	

.barra_li{
	display: flex;
	font-size: 15px;
	margin: 0;
	padding: 10;
	cursor: pointer;
}

nav li{
	display: inline-block;
	font-family: 'Ubuntu';
}

nav a{
	display: flex;
	padding: 10px;
	color:white;
	text-decoration: none;
}

nav a:hover{
	font-weight:bold;
	color: black;
	background: #ffffff;
}

.contenedor{
	display: flex;
	justify-content: center;
	transform: translate(0, 30%);
}

form{
	font-family: 'Ubuntu';
	font-size: 16px;
	border-radius: 10px 10px;
	padding: 10px 25px 60px;
	border: solid  .1pc;
	
}
.form-radio{
	display: flex;
	align-items:flex-end;
}

.bot-env{
	font-family: 'Ubuntu';
	font-size: 15px;
	display: flex;
	position: absolute;
	transform: translate(75%,150%);
	border-radius: 10pc;
}